/* 초기화 */
* {
	margin: 0;
	padding: 0;
	font: normal 12px "noto sans korean";
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #111;
}

input, textarea {
	outline: none;
}

/* container */
#container {
	width: 800px;
	height: auto;
	margin: 0 auto;
}
/* header */
header {
	width: 100%;
	height: 40px;
	background: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	box-sizing: border-box;
}

header>h3 {
	float: left;
	font-weight: bold;
	color: #777;
	margin-top: 14px;
	margin-left: 10px;
}

header>p {
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}

/* main */
main {
	width: 100%;
	height: auto;
}

main>section {
	
}

/* 🎈login */
.login {
	position: relative;
	width: 360px;
	height: auto;
	border: 1px solid #cfded8;
	box-sizing: border-box;
	margin: 100px auto;
}

.login>form {
	
}

.login>form>table {
	margin-left: 52px;
	margin-top: 30px;
}

.login>form>table tr {
	
}

.login>form>table td {
	
}

.login>form>table img {
	width: 20px;
}

.login>form>table input {
	width: 162px;
	height: 22px;
	margin-left: 6px;
	margin-bottom: 4px;
	border: 1px solid #e4eaec;
	background: #f7f7f7;
}

.login>form>input[type="submit"] {
	position: absolute;
	right: 48px;
	top: 33px;
	width: 60px;
	height: 52px;
	border: 1px solid #bebebe;
	background-color: #fdfdfd;
}

.login>div {
	width: 100%;
	height: 100px;
	background-color: #f5f6fa;
	border-top: 1px solid #cfded8;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
}

.login>div>h3 {
	
}

.login>div>p {
	margin: 10px 0;
}

.login>div>a {
	float: right;
}

/* 🎈terms */
.terms {
	width: 600px;
	height: auto;
	margin: 60px auto;
}

.terms table {
	width: 100%;
	height: auto;
	border-top: 2px solid #111;
	box-sizing: border-box;
}

.terms form table caption {
	text-align: left;
	font-weight: bold;
	padding: 10px 0;
	box-sizing: border-box;
}

.terms form table tr {
	
}

.terms form table td {
	padding: 6px;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
}

.terms form table textarea {
	width: 100%;
	height: 200px;
	background: #f7f7f7;
	border: 1px solid #e4eaec;
	padding: 2px;
	box-sizing: border-box;
}

.terms form table label {
	float: right;
}

.terms form table input[type="checkbox"] {
	margin-right: 2px;
}

.terms form table p {
	
}

.terms div {
	margin-top: 10px;
	text-align: center;
	float: right;
}

.terms form div a {
	
}

/* 🎈register */
.register {
	width: 600px;
	height: auto;
	margin: 60px auto;
	box-sizing: border-box;
}

.register>form {
	
}

.register>form>table {
	width: 100%;
	margin-bottom: 10px;
	border-top: 2px solid #111;
	border-spacing: 0;
	border-collapse: collapse;
}

.register>form>table>caption {
	text-align: left;
	padding: 10px 0;
	font-weight: bold;
	box-sizing: border-box;
}

.register>form>table tr {
	
}

.register>form>table td {
	padding: 6px 12px;
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
}

.register>form>table td:nth-child(1) {
	width: 106px;
	background: #f5f8f9;
}

.register>form>table td:nth-child(2) {
	
}

.register>form>table input {
	width: 162px;
	height: 22px;
	border: 1px solid #e4eaec;
	background: #f7f7f7;
	text-indent: 4px;
}

.register>form>table input[name="addr1"] {
	width: 360px;
	margin: 4px 0;
}

.register>form>table input[name="addr2"] {
	width: 360px;
}

.register>form>table button {
	border: none;
	vertical-align: -2px;
}

.register>form>div {
	text-align: right;
}




/* 🎈list */
.list {
	width: 720px;
	height: auto;
	margin: 60px auto;
}

/* 🎈검색박스*/
.list article form.search {
    float: right;
    margin-top: -14px;
    margin-bottom: 3px;
}

.list article form.search select {
    width: 80px;
    height: 26px;
    border: 1px solid #d7d7d7;
    outline: none;
}

 .list article form.search input[name=keyword]{
    width: 200px;
    height: 26px;
    text-indent: 6px;
    border: 1px solid #d7d7d7;
}
.list>article form.search input[type=submit]{
    border: 1px solid #d7d7d7;
    background: #f2f2f2; 
    color: #111;
    padding: 6px;
}



.list>article>table {
	width: 100%;
	border-top: 2px solid #111;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 6px;
}



.list>article>table th {
	padding: 12px;
	border-top: 1px solid #d1dee2;
	border-bottom: 1px solid #d1dee2;
	background-color: #e5ecef;
	color: #383838;
}

.list>article>table td {
	padding: 12px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.list>article>table td:nth-child(1) {
	width: 50px;
	text-align: center;
}

.list>article>table td:nth-child(2) {
	width: auto;
}

.list>article>table td:nth-child(3) {
	width: 100px;
	text-align: center;
}

.list>article>table td:nth-child(4) {
	width: 100px;
	text-align: center;
}

.list>article>table td:nth-child(5) {
	width: 50px;
	text-align: center;
}

.list>.paging {
	padding: 20px;
	text-align: center;
}

.list>.paging>a {
	padding: 8px;
	background: #f2f2f2;
	border: 1px solid #d7d7d7;
}



.list>.paging>.current {
	border: 1px solid #6d6d6d;
	background: #888;
	color: #fff;
}

.list>div {
	text-align: right;
}

/* 🎈modify */
.modify {
	width: 600px;
	height: auto;
	margin: 60px auto;
}



.modify>article table {
	width: 100%;
	border-top: 2px solid #111;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 6px;
}


.modify>article table tr>td {
	padding: 12px 6px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.modify>article table tr>td:nth-child(1) {
	width: 100px;
	background-color: #f5f8f9;
	text-align: center;
}

.modify>article table input {
	width: 100%;
	height: 24px;
	border: 0;
}

.modify>article table tr>td>textarea {
	width: 100%;
	height: 280px;
	resize: none;
	border: 0;
}

.modify form div {
	margin-top: 10px;
	text-align: right;
}

/* 🎈write */
.write {
	width: 600px;
	height: auto;
	margin: 60px auto;
}

.write>h3 {
	
}

.write>article {
	
}

.write>article>form {
	
}

.write>article table {
	width: 100%;
	border-top: 2px solid #111;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 6px;
}

.write>article table tr {
	
}

.write>article table tr>td {
	padding: 12px 6px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.write>article table tr>td:nth-child(1) {
	width: 100px;
	background-color: #f5f8f9;
	text-align: center;
}

.write>article table input {
	width: 100%;
	height: 24px;
	border: 0;
}

.write>article table tr>td>textarea {
	width: 100%;
	height: 280px;
	resize: none;
	border: 0;
}

.write form div {
	margin-top: 10px;
	text-align: right;
}

/* 🎈view */
.view {
	width: 720px;
	height: auto;
	margin: 60px 0;
}

.view>h3 {
	
}

.view>table {
	width: 100%;
	border-top: 2px solid #111;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 6px;
}

.view>table tr {
	
}

.view>table tr td {
	padding: 12px 6px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.view>table tr td:nth-child(1) {
	width: 100px;
	background-color: #f5f8f9;
	text-align: center;
}

.view>table textarea {
	width: 100%;
	height: 280px;
	resize: none;
	border: 0;
}

.view>div {
	padding: 16px 0;
	text-align: right;
}

.view>div>.btnDelete {
	padding: 8px;
	border: 1px solid #bebebe;
	background-color: #fdfdfd;
	color: #111;
}

.view>div>.btnModify {
	padding: 8px;
	border: 1px solid #bebebe;
	background-color: #fdfdfd;
	color: #111;
}

.view>div>.btnList {
	padding: 8px;
	border: 1px solid #bebebe;
	background-color: #fdfdfd;
	color: #111;
}

.view>section {
	padding: 20px;
	border: 1px solid #e3e3e3;
	background-color: #f9f9f9;
	margin-top: 16px;
}

.view>section>h3 {
	font-weight: bold;
}
/* ✨commentList */
.commentList {
	
}

.commentList article {
	border-top: 1px dotted #999;
	margin-top: 10px;
	padding-top: 10px;
}



.commentList article textarea {
	width: 100%;
	height: 60px;
	padding: 6px;
	resize: none;
	border: 0;
	background-color: transparent;
}

.commentList article > div {
	text-align: right;
}

.commentList .empty {
	padding: 20px 0;
	text-align: center;
}

/*✨commentForm */
.commentForm {
	
}

.commentForm  form textarea {
	width: 100%;
	height: 60PX;
	border: 1px solid #e4eaec;
	margin: 10px 0;
	resize: none;
}

.commentForm > form div {
	text-align: right;
}

/* 🎈footer */
footer {
	width: 100%;
	height: 36px;
	background: #f7f7f7;
	border-top: 1px solid #ebebeb;
	box-sizing: border-box;
}

footer>p {
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	color: #777;
}

/* 🎈공통 */
.btnNext {
	display: inline-block;
	padding: 8px;
	border: 1px solid #bebebe;
	background: #e9e9e9;
	color: #111;
}

.btnCancel {
	display: inline-block;
	padding: 8px;
	border: 1px solid #bebebe;
	background: #fdfdfd;
	color: #111;
}

.btnSubmit {
	display: inline-block;
	padding: 8px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}

.btnWrite {
	display: inline-block;
	padding: 8px;
	border: 1px solid #3b3c3f;
	background: #4b545e;
	color: #fff;
}